.head {
  position: sticky !important;
  background: white;
  box-shadow: inset 0 -1px 0 0 cornflowerblue;
  z-index: 10;
}

.row {
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 cornflowerblue;
}