* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 7px;
  background-color: white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.footer {
  height: 9rem;
  background-color: wheat;
  background-image: linear-gradient(to right, black 1px, white 1px);
  background-size: 20px 100%;
}

.aside {
  /*width: 210px;*/
  background: red;
  height: 100%;
}

.timeline {
  flex: 1;
  height: 100%;
}

.App {
  text-align: center;
}

.empty {
  width: 100%;
  height: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.working-time {
}
